* {
  background-color: rgb(0, 17, 33);
  text-align: center;
}
.square {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}

.square_img {
  width: 50px;
  height: 50px;
  background-color: rgb(220, 220, 220);
  background-image: url("../assets/single.svg");
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}

ul {
  padding-left: 0;
}