* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(0, 17, 33);
}

.vis {
  float: left;
  padding-top: 80px;
  padding-right: 10%;
}

.square {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}

.square_img {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  background-image: url("./assets/single.svg");
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}

button {
  background-color: #b5b5b5;
  border: none;
  padding-top:15px;
  padding-bottom:15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 9em;
  border-radius: 15px;
  margin-bottom: 10px;
  opacity: 0.75;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {opacity: 1}

button:active {
  box-shadow: 0 5px #FFFFFF;
  transform: translateY(5px);
}

.col {
  text-align: center;
  margin: 0;
}

.col_left {
  min-height: 1000px;
  float: left;
  padding-left: 30%;
  padding-right: 5%;
}

.col_right {
  float: right;
  padding-right: 30%;
  padding-left: 5%;
}

@media screen and (max-width: 900px) {
.col_right{
  float: none;
  padding-left: 35%;
}
.col_left {
  float: none;
}
}

ul {
  padding-left: 0;
}

li, p {
  list-style: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

p {
  text-align: left;
  font-size: 20px;
}

.list_item {
  background-color: red;
  padding: 15px;
  margin: 10px;
  width: 7em;
  text-align: center;
  border-radius: 10px;
}

.listRemove {
  padding: 0;
  margin: 0;
  border: 0;
  width: 0;
  height: 0;
  display: inline-block;
  color: white;
  opacity: 1;
  padding-right: 10px;
  float: right;
}

.listMove {
  padding: 0;
  margin: 0;
  border: 0;
  width: 0;
  height: 0;
  display: inline-block;
  color: white;
  opacity: 1;
  padding-left: 5px;
  float: left;
}

.run {
  width: 90px;
  height: 90px;
  margin: 50px;
}

.banana {
  height: 60px;
  background-color: yellow;
}

.pointer {
  background-color: #7A50F5;
}

.long {
  background-color: #47A5FF;
}

.double {
  background-color: #E008BC;
}

.float {
  background-color: #4AD45D;
}

.int {
  background-color: #EB6F8A;
}

.short {
  background-color: plum;
}

.char {
  background-color: orange;
}